<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-toy content">
    <form method="POST" action="/toys/edit/<%-toy._id %>" >
      <label for="title">Toy name:</label>
      <input type="text" id="title" name="name" required value="<%- toy.name %>"> 
      <label for="price">Toys price:</label>
      <input type="text" id = "price" name = "price" required placeholder="VND" value = <%- toy.price %>>
      <label for="quantity">Toy quantity</label>
      <input type="text" id="quantity" name="quantity" required placeholder="toy.quantity" value = <%- toy.quantity %>>
      <label for="body">Toy detail</label>
      <textarea id="body" name="body"> <%- toy.body %></textarea>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>